// color
$color-blue: #0042bf;
$color-medium-blue: #2872ff;
$color-light-blue: #a7c5ff;
$color-pale-blue: #d5e7ff;
$color-yellow: #ffd245;
$color-text: #222222;
$color-line: #e2e2e2;
$color-bg-dark: #000000;

// font
$font-kor: "Pretendard Variable", sans-serif;
$font-en: "Poppins", sans-serif;

// break point
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;



