@charset "UTF-8";
/* font face */
@font-face {
  font-family: "Pretendard Variable";
  src: url("../fonts/PretendardVariable.woff2") format("woff2-variations");
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("font-woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("font-woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("font-woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body,
div,
section,
article,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
a,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

/* 폰트 초기화 */
html {
  font-family: "Pretendard Variable", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

/* 숨김 텍스트 */
.hide-txt {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* layout */
#wrap {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.section.dark {
  background-color: #000000;
}
.section.dark h2 {
  color: #fff;
}
.section.dark h2::after {
  background-color: #2872ff;
}
.section.dark .description p {
  color: #fff;
}
.section .container {
  transform: translate3d(0, 30px, 0);
  transition: all 250ms linear;
  padding: 120px 60px 100px;
}
.section#home .container, .section.active .container {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.section h2 {
  position: relative;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 40px;
}
.section h2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  display: block;
  width: 100%;
  height: 20px;
  background-color: #ffd245;
  transform: skew(-5deg);
  z-index: -1;
}
.section .description p {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}
.section .description strong {
  font-weight: 500;
  color: #0042bf;
}

.main_wrap {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.main_left {
  flex-basis: 70%;
}

.main_right {
  position: relative;
  flex-basis: 30%;
  overflow: hidden;
  border-left: 1px solid #e2e2e2;
}

.home_profile,
.about_profile,
.side {
  will-change: transform;
}

/* header */
#header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  transform: translate3d(0, 0, 0);
  transition: all 0.5s linear;
  z-index: 10;
}
#header.hidden {
  transform: translate3d(0, -100px, 0);
}
#header .container {
  display: flex;
  align-items: center;
  padding: 20px 40px;
}
#header h1 {
  margin-right: auto;
}
#header h1 a {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
#header h1 a img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

#main_menu h2 {
  display: none;
}
#main_menu ul {
  display: flex;
}
#main_menu .menu_btn {
  padding: 0 5px;
  cursor: pointer;
}
#main_menu .menu_btn span {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 2px 10px;
  border-bottom: 1px solid transparent;
  transition: all 250ms;
}
#main_menu .menu_btn:hover span, #main_menu .menu_btn.active:hover span {
  color: #fff;
  background-color: #a7c5ff;
}
#main_menu .menu_btn.active span {
  color: #0042bf;
  border-bottom: 1px solid #0042bf;
}

.btn_mobile_close {
  display: none;
  position: absolute;
  right: -40px;
  top: 0;
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 1;
  color: #a7c5ff;
  background-color: transparent;
}

.btn_mobile {
  display: none;
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 1;
  color: #0042bf;
  background-color: transparent;
}

.bg_mobile {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* home */
#home {
  height: 800px;
}

.home_title {
  position: relative;
}
.home_title::after {
  content: "";
  position: absolute;
  left: 220px;
  top: 0;
  display: block;
  width: 80px;
  height: 80px;
  background: url("../img/logo.png") no-repeat center/100%;
  transform: rotate(0deg);
  animation: ani 0.7s linear alternate infinite;
}
.home_title h3 {
  position: relative;
  font-size: 65px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 120px;
}
.home_title h4 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 10px;
}

@keyframes ani {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-10deg);
  }
}
.home_profile {
  position: absolute;
  right: 100px;
  top: 260px;
  width: 250px;
  transform-origin: left top;
  transform: rotate(-10deg);
  transition: all 300ms linear;
  z-index: -1;
}

.home_contact {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  background-color: #000000;
  padding: 5px 15px 7px;
  margin-top: 30px;
  transition: all 300ms;
}
.home_contact:hover {
  color: #fff;
  background-color: #0042bf;
}

/* side */
.side {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-top: -100px;
  transition: all 500ms ease;
}
.side .circle {
  position: relative;
  width: 85%;
  height: 0;
  overflow: hidden;
  padding-bottom: 85%;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: right top;
  border-radius: 50%;
  margin: 20px auto;
  opacity: 0;
  transform: scale(0.7) rotate(-30deg);
  transition: all 300ms ease;
}
.side .circle.prj_lcsi {
  background-image: url("../img/prj_lcsi.png");
}
.side .circle.prj_mg {
  background-image: url("../img/prj_mg_op.png");
}
.side .circle.prj_lt {
  background-image: url("../img/prj_lt.png");
}
.side .circle.prj_kpmg {
  background-image: url("../img/prj_kpmg.png");
}
.side .circle:hover {
  background-size: 180%;
}
.side .circle.active {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}
.side .circle .cover {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #0042bf;
  border-radius: 0 150px 150px 0;
  opacity: 0;
  transition: all 100ms linear;
}
.side .circle .cover span {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  text-align: center;
  opacity: 0;
  transform: translate3d(0, 10px, 0);
  transition: all 300ms 50ms linear;
}
.side .circle:hover .cover {
  opacity: 1;
}
.side .circle:hover .cover span {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.side .circle.full {
  background-color: #0042bf;
  text-align: center;
  cursor: auto;
}
.side .circle.full i {
  color: #fff;
  font-size: 100px;
  margin-top: 30%;
  transition: all 300ms;
}
.side .circle.full span {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #fff;
}

/* about */
#about {
  position: relative;
}

.about_hashtag {
  text-align: right;
  margin-top: 30px;
}
.about_hashtag span {
  font-family: "Pretendard Variable", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 0 5px;
}

.about_profile_box {
  text-align: center;
  margin-top: 120px;
}

.about_profile {
  display: inline-block;
  width: 550px;
  margin: 0 auto;
  transform-origin: right top;
  transform: translate3d(0, 0, 0) rotate(0deg);
  transition: all 300ms linear;
  z-index: 1;
}

.about_job {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.about_job ul li {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.about_job .img-wrap {
  flex-shrink: 0;
  width: 130px;
}
.about_job .logo_etribe {
  width: 90px;
  padding: 10px;
  background-color: #000;
}
.about_job .logo_wizi {
  width: 60px;
}
.about_job .job_description p {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.about_job .job_description p:last-child {
  font-size: 16px;
}

/* skills */
#skills h2::before {
  content: "";
  display: block;
  position: absolute;
  right: -50px;
  top: -25px;
  width: 50px;
  height: 55px;
  background: url("../img/deco1.png") no-repeat center/100%;
  animation: ani 0.5s linear alternate infinite;
}

.skillset {
  display: flex;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  margin-top: 50px;
}
.skillset h3 {
  color: #222222;
  font-size: 26px;
  margin-bottom: 10px;
}

.skillset_left {
  flex-basis: 65%;
  padding: 40px 50px;
}

.skillset_right {
  flex-basis: 35%;
  background-color: #d5e7ff;
}
.skillset_right .tools {
  padding: 45px 50px 20px;
}
.skillset_right .etc {
  padding: 20px 50px 40px;
}

.skill {
  margin-bottom: 15px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.skill_description span {
  font-size: 18px;
}
.skill_description span.skill_rate {
  color: #0042bf;
}

.skill_bar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #d5e7ff;
}

.skill_value {
  position: absolute;
  left: 0;
  top: 0;
  height: 10px;
  background-color: #2872ff;
  transition: all 300ms linear;
}

/* work */
#work {
  text-align: center;
}
#work h2::before {
  content: "";
  display: block;
  position: absolute;
  right: -75px;
  top: 10px;
  width: 60px;
  height: 60px;
  background: url("../img/logo.png") no-repeat center/100%;
  animation: ani 0.5s linear alternate infinite;
}

.work_categories {
  margin: 30px 0 40px;
  font-size: 0;
}

.category_btn {
  position: relative;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #222222;
  text-align: center;
  background-color: #d5e7ff;
  border: 2px solid transparent;
  padding: 5px 20px 7px 35px;
  margin: 0 15px 15px 0;
  cursor: pointer;
  transition: all 200ms;
}
.category_btn:hover, .category_btn.selected {
  border-color: #222222;
}
.category_btn:hover span, .category_btn.selected span {
  background-color: #a7c5ff;
  color: #fff;
}
.category_btn span {
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 16px;
  background-color: #fff;
  color: #222222;
  border-radius: 50%;
  margin-left: 10px;
  line-height: 1.6;
  transition: all 200ms;
}

.work_projects {
  transition: all 300ms ease-out;
  opacity: 1;
  transform: scale(1) translateY(0);
}
.work_projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  display: flex;
  padding: 60px 30px;
  border-bottom: 1px solid #e2e2e2;
  transition: 0.5s;
}
.project:first-child {
  padding: 0 30px 60px;
}
.project:last-child {
  border: 0;
}
.project.invisible {
  display: none;
}
.project .img_wrap {
  width: 400px;
  height: 100%;
  flex-shrink: 0;
  border: 1px solid #e2e2e2;
}
.project .img_wrap img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.project_description {
  padding-left: 34px;
  text-align: left;
}
.project_description h3 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #222222;
  margin-bottom: 5px;
}
.project_description .sub_tit {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.project_description .sub_tit,
.project_description .date {
  display: block;
  font-size: 18px;
  color: #0042bf;
  margin-bottom: 5px;
}
.project_description .txt {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  margin: 20px 0 20px 10px;
}
.project_description .txt li {
  position: relative;
  padding-left: 16px;
}
.project_description .txt li::before {
  content: "-";
  display: inline-block;
  position: absolute;
  left: 0;
}
.project_description .btn_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 10px;
}
.project_description .btn_item {
  display: flex;
  align-items: center;
}
.project_description .btn {
  display: inline-flex;
  justify-content: center;
  flex-shrink: 0;
  width: 120px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  white-space: nowrap;
  background-color: #0042bf;
  padding: 8px 0;
  border-radius: 6px;
  margin-right: 14px;
}
.project_description .btn_demo {
  left: 25px;
}
.project_description .btn_github {
  left: 125px;
}

/* contact */
#contact {
  text-align: center;
}
#contact h2::before {
  content: "";
  display: block;
  position: absolute;
  right: -70px;
  top: 10px;
  width: 50px;
  height: 55px;
  background: url("../img/deco2.png") no-repeat center/100%;
  animation: ani 0.5s linear alternate infinite;
}

.contact_info {
  margin-top: 10px;
}
.contact_info p {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: 6px;
}
.contact_info p:first-child {
  font-size: 32px;
}

.contact_links {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.contact_links a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #222222;
  background-color: #a7c5ff;
  padding: 5px 20px 7px;
  margin: 0 10px;
  transition: all 250ms;
}
.contact_links a:hover {
  color: #fff;
  background-color: #2872ff;
}
.contact_links i {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
}

.contact_rights {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #fff;
  margin-top: 50px;
}

/* top button */
.btn_top {
  opacity: 0;
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: #fff;
  background-color: #2872ff;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}
.btn_top.visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 1280px) {
  .home_profile {
    top: 30vw;
  }
  .about_profile_box {
    margin-top: 100px;
  }
  .about_profile {
    width: 500px;
  }
  .project_description {
    padding-left: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .main_left {
    flex-basis: 100%;
  }
  .main_right {
    display: none;
  }
  .home_profile {
    right: 150px;
    top: 30vw;
  }
  .work_categories {
    margin: 30px 0 0;
  }
  .project {
    display: block;
    padding: 30px 0;
  }
  .project:first-child {
    padding: 30px 0;
  }
  .project .img_wrap {
    width: 100%;
    margin-bottom: 20px;
  }
  .project_description {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .project_description h3 {
    font-size: 22px;
    margin-bottom: 4px;
  }
  .project_description span {
    font-size: 16px;
  }
  .project_description .txt {
    font-size: 14px;
    margin: 24px 0;
  }
  .project_description .txt li {
    padding-left: 0;
  }
  .project_description .txt li::before {
    position: relative;
    margin-right: 10px;
  }
  .project_description .btn_wrap {
    align-items: center;
    gap: 14px;
    margin-left: 0;
  }
  .project_description .btn_item {
    flex-direction: column-reverse;
  }
  .project_description .btn_item_desc {
    color: #0042bf;
    font-size: 14px;
  }
  .project_description .btn {
    width: 100px;
    font-size: 14px;
    padding: 6px 16px;
    margin-right: 0;
    margin-top: 6px;
  }
}
@media screen and (max-width: 864px) {
  .section .container {
    opacity: 1;
  }
  #header .container {
    position: relative;
    padding: 5px 20px;
  }
  #header h1 {
    margin: 0 auto;
  }
  #header h1 a {
    font-size: 20px;
  }
  #header h1 a img {
    width: 25px;
    height: 25px;
  }
  #main_menu {
    position: absolute;
    left: -100%;
    top: 0;
    width: 70%;
    height: 100vh;
    background-color: #d5e7ff;
    transition: all 300ms;
    z-index: 10;
  }
  #main_menu.open {
    left: 0;
  }
  #main_menu h2 {
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 20px 40px;
  }
  #main_menu ul {
    display: block;
    border-top: 1px solid #a7c5ff;
    z-index: 2;
  }
  #main_menu .menu_btn {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #a7c5ff;
    transition: all 250ms;
  }
  #main_menu .menu_btn:hover, #main_menu .menu_btn.active {
    background-color: #a7c5ff;
  }
  #main_menu .menu_btn span {
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
    padding: 2px 15px;
  }
  #main_menu .menu_btn:hover span, #main_menu .menu_btn.active:hover span {
    color: #0042bf;
    background-color: transparent;
  }
  #main_menu .menu_btn.active span {
    border-bottom: 1px solid transparent;
  }
  .btn_mobile_close,
  .btn_mobile {
    display: block;
  }
  .bg_mobile.open {
    display: block;
  }
  .home_profile {
    top: 40vw;
  }
  .skillset {
    display: block;
  }
  .skillset h3 {
    font-size: 22px;
  }
  .skill_description span {
    font-size: 16px;
  }
  .btn_top {
    width: 45px;
    height: 45px;
    font-size: 28px;
    right: 20px;
    bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .section .container {
    padding: 100px 40px 80px;
  }
  .section h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .section h2::after {
    height: 20px;
  }
  .section .description p {
    font-size: 18px;
  }
  .home_title::after {
    left: 185px;
    top: 5px;
    width: 65px;
    height: 65px;
  }
  .home_title h3 {
    font-size: 65px;
    margin-top: 60px;
  }
  .home_title h4 {
    font-size: 28px;
  }
  .home_profile {
    left: 50px;
    top: 50vw;
    right: unset;
  }
  .about_hashtag span {
    font-size: 16px;
  }
  .about_profile_box {
    margin-top: 80px;
  }
  .about_profile {
    width: 400px;
  }
  .about_job img {
    width: 65px;
    margin-right: 10px;
  }
  .about_job .job_description p {
    font-size: 16px;
  }
  #skills h2::before {
    right: -40px;
    top: -20px;
    width: 40px;
    height: 45px;
  }
  #work h2::before {
    right: -65px;
    top: 10px;
    width: 50px;
    height: 50px;
  }
  #contact h2::before {
    right: -55px;
    top: 10px;
    width: 40px;
    height: 45px;
  }
  .contact_info p {
    font-size: 25px;
  }
  .contact_info p:first-child {
    font-size: 32px;
  }
}
@media screen and (max-width: 600px) {
  .section h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .section h2::after {
    top: 10px;
    height: 15px;
  }
  .section .description p {
    font-size: 16px;
  }
  #home {
    height: 700px;
  }
  .home_title::after {
    left: 130px;
    top: 0;
    width: 45px;
    height: 45px;
  }
  .home_title h3 {
    font-size: 45px;
    margin-top: 40px;
  }
  .home_title h4 {
    font-size: 22px;
  }
  .home_title h4 br {
    display: none;
  }
  .home_contact {
    font-size: 16px;
    margin-top: 20px;
    padding: 5px 15px;
  }
  .home_profile {
    left: 30px;
    top: 50vw;
    width: 200px;
  }
  .about_hashtag span {
    font-size: 14px;
  }
  .about_profile {
    width: 300px;
  }
  .about_job .job_description p {
    font-size: 14px;
  }
  .about_job .job_description p:last-child {
    font-size: 14px;
  }
  #skills h2::before {
    right: -35px;
    top: -15px;
    width: 30px;
    height: 35px;
  }
  #work h2::before {
    right: -50px;
    top: 5px;
    width: 40px;
    height: 40px;
  }
  #contact h2::before {
    right: -40px;
    top: 10px;
    width: 30px;
    height: 35px;
  }
  .contact_info p {
    font-size: 16px;
    word-break: break-all;
  }
  .contact_info p:first-child {
    font-size: 24px;
    margin-top: 12px;
  }
  .contact_links a {
    font-size: 14px;
    padding: 7px 20px 5px;
  }
  .contact_links i {
    font-size: 14px;
  }
  .contact_rights {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .section .container {
    padding: 80px 20px 60px;
  }
  .section h2 {
    font-size: 34px;
    margin-bottom: 10px;
  }
  .section h2::after {
    height: 12px;
  }
  #header .container {
    padding: 5px 10px;
  }
  #header h1 a {
    font-size: 22px;
  }
  #header h1 a img {
    width: 22px;
    height: 22px;
    margin-right: 5px;
  }
  #home {
    height: 600px;
  }
  .home_title::after {
    left: 100px;
    top: 5px;
    width: 30px;
    height: 30px;
  }
  .home_title h3 {
    font-size: 35px;
    margin-top: 0;
  }
  .home_title h4 {
    font-size: 20px;
  }
  .home_contact {
    margin-top: 10px;
  }
  .home_profile {
    left: 10px;
    top: 75vw;
  }
  .about_profile {
    width: 250px;
  }
  #skills h2::before {
    right: -30px;
    top: -12px;
    width: 25px;
    height: 30px;
  }
  #work h2::before {
    right: -40px;
    top: 7px;
    width: 30px;
    height: 30px;
  }
  #contact h2::before {
    right: -35px;
    top: 8px;
    width: 25px;
    height: 30px;
  }
}
@media screen and (max-width: 375px) {
  #home {
    height: 550px;
  }
}/*# sourceMappingURL=style.css.map */